@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;
}

@config "../tailwind.config.js";

/* Estilos para o Acordeão */
.accordion-grid {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.accordion-grid.open {
  grid-template-rows: 1fr;
}
.accordion-inner {
  overflow: hidden;
}

/* Dashboard Map Pins */
.pin-ativo {
    background-color: #ef4444;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(239, 68, 68, 0.8);
    width: 14px !important;
    height: 14px !important;
}
.pin-alerta {
    background-color: #f59e0b;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(245, 158, 11, 0.8);
    width: 14px !important;
    height: 14px !important;
}
.pin-resolvido {
    background-color: #10b981;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 12px !important;
    height: 12px !important;
    opacity: 0.8;
}
.dark .pin-ativo,
.dark .pin-alerta,
.dark .pin-resolvido {
    border-color: #18181b;
}
